<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type,api_key,Authorization" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <add value="example/index.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/woff2" />
        </staticContent>
    </system.webServer>
</configuration>
